<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diswork</title>
    <style>
        #addButton {
            display: block;
        }
        #deleteButton{
            display: none;
        }
    </style>
    <link href="/resources/css/toastr.css" rel="stylesheet"/>
</head>
<body>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
<p  th:text="${media.mediaName}"></p>
<img  th:src="${media.posterPath}" width="230px" height="320px" alt="Постер">
<p  th:text="'Тип: ' + ${media.type.typeName}"></p>
<p  th:text="'Количество эпизодов: ' + ${media.episodeCount}"></p>
<p  th:text="'Длительность эпизода: ' + ${media.duration} + ' минут'"></p>
<p  th:text="'Статус: ' + ${media.status.statusName}"></p>
<p>Тэги:</p>
<tr th:each="tag: ${media.tags}">
    <p th:text="${tag.tagName}"></p>
</tr>
<p  th:text="'Возрастной рейтинг: ' + ${media.ageRating}"></p>
<p  th:text="'ОПИСАНИЕ: ' + ${media.description}"></p>

<td><button id="addButton" th:one="${media.id}" th:two="${_csrf.token}" onclick="fetchAndAddMedia(this.getAttribute('one'), this.getAttribute('two'))">Добавить произведение в избранное</button></td>
<td><button id="deleteButton" th:one="${media.id}" th:two="${_csrf.token}" onclick="fetchAndDeleteMedia(this.getAttribute('one'), this.getAttribute('two'))">Удалить из избранного</button></td>

<script th:inline="javascript">
    const deleteButton = document.getElementById('deleteButton');
    const addButton = document.getElementById('addButton');
    const isAddButtonHidden = localStorage.getItem('isAddButtonHidden');

    if (isAddButtonHidden === 'true'){
        addButton.style.display='none';
        deleteButton.style.display='block';
    }else {
        addButton.style.display='block';
        deleteButton.style.display='none';
    }

    function handleAddButton(message){
         if (message === "Произведение добавленно"){
        deleteButton.style.display='block';
        addButton.style.display='none';
        localStorage.setItem('isAddButtonHidden', 'true');
         }

    }
    function handleDeleteButton(message){
         if (message === "Произведение удалено из избранного"){
        addButton.style.display='block';
        deleteButton.style.display='none';
        localStorage.setItem('isAddButtonHidden', 'false');
         }

    }
    async function fetchAndAddMedia(mediaId, csrf) {

        const requestOptions = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrf
            },
            body: JSON.stringify({"id": mediaId})
        };
        fetch('/index/media/add', requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                message = data.message
                handleAddButton(message)
                ShowToast("success", data.message)
            })
            .catch(error => {
                ShowToast('warning', "Для этого действия вам необходима регистрация на сайте!")
            });
    }

    async function fetchAndDeleteMedia(mediaId, csrf) {

        const requestOptions = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrf
            },
            body: JSON.stringify({"id": mediaId})
        };
        fetch('/index/media/delete', requestOptions)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                message = data.message
                handleDeleteButton(message)
                ShowToast("success", data.message)
            })
            .catch(error => {
                ShowToast('warning', "Для этого действия вам необходима регистрация на сайте!")
            });

    }
    function ShowToast(type, message){
        Command: toastr[type](message)

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3500",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/resources/js/toastr.min.js"></script>
</body>
</html>