<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diswork</title>
</head>
<body>
<h1> Избранное</h1>
<tr th:each="media : ${userMediaList}">
    <img th:src="${media.getPosterPath()}" width="170px" height="240px" alt = "Постер">
    <a th:text="${media.mediaName}" th:href="@{/index/media/{id}(id = ${media.id})}"></a>
    <p  th:text="'Тип: ' + ${ media.getType() != null ? media.getType().getTypeName() : ' Тип не указан'}"></p>
    <p  th:text="'Год выхода: ' + ${ media.getYearOfRelease() != null ? media.getYearOfRelease() : ' Год релиза не указан'}"></p>
</tr>
</body>
</html>