<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diswork</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/createMedia}" th:object="${media}" enctype="multipart/form-data">


    <label for="mediaName">Название произведения: </label>
    <input type="text" th:field="*{mediaName}" id="mediaName"/>
    <div style="color:red" th:if="${#fields.hasErrors('mediaName')}" th:errors="*{mediaName}">Name Error</div>
    <br/>

    <label for="types">Тип произведения: </label>
    <select id="types" th:object="${media}" th:field="*{type}">
        <option th:each="oneType: ${typeList}"  th:value="${oneType.getId()}" th:text="${oneType.typeName}"></option>
    </select>
    <br/>

    <label for="status">Статус произведения: </label>
    <select id="status" th:object="${media}" th:field="*{status}">
        <option th:each="oneStatus: ${statusList}"  th:value="${oneStatus.getId()}" th:text="${oneStatus.getStatusName()}"></option>
    </select>
    <br/>

    <label for="year_of_Release">Дата : </label>
    <input type="text" th:field="*{yearOfRelease}" id="year_of_Release"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}">Year Error</div>
    <br/>

    <label for="description">Краткое описание произведения: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
    <br/>

    <label for ="image"> Постер фильма</label>
    <input type="file" name = "imageFile" id="image">
    <div style="color:red" th:if="${#fields.hasErrors('posterPath')}" th:errors="*{posterPath}">Description Error</div>
    <br/>

    <label for="age_rating">Возрастное ограничение: </label>
    <input type="text" th:field="*{ageRating}" id="age_rating"/>
    <div style="color:red" th:if="${#fields.hasErrors('ageRating')}" th:errors="*{ageRating}">Age_rating Error</div>
    <br/>

    <label for="duration">Длительность(если фильм); Указывать в минутах: </label>
    <input type="text" th:field="*{duration}" id="duration"/>
    <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Time Error</div>
    <br/>

    <label for="episode_count">Количество серий в сезоне(если сериал): </label>
    <input type="text" th:field="*{episodeСount}" id="episode_count"/>
    <div style="color:red" th:if="${#fields.hasErrors('episodeСount')}" th:errors="*{episodeСount}">Episode_count Error</div>
    <br/>

    <label for="tags">Тэги: </label>
    <select id="tags" th:object="${media}" th:field="*{tags}" multiple>
        <option th:each="oneTag: ${tagList}"  th:value="${oneTag.getId()}" th:text="${oneTag.tagName}"></option>
    </select>
    <input type="submit"  value="Создать произведение!"/>
    <br>
    <br>
    <br>
    <a href="/admin/adminPage">Вернуться на главную</a>
</form>

</body>
</html>