<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diswork</title>
</head>
<body>
<form th:method="patch" th:action="@{/admin/tag/{id}(id = ${tag.getId()})}" th:object="${tag}">

    <label for="tagName">Название тэга: </label>
    <input type="text" th:field="*{tagName}" id="tagName"/>
    <div style="color:red" th:if="${#fields.hasErrors('tagName')}" th:errors="*{tagName}">Name Error</div>
    <br/>
    <label for="description">Описание тэга: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
    <br/>
    <input type="submit" value="Обновить!"/>

</form>
<br>

<form th:method="delete" th:action="@{/admin/tag/{id}(id = ${tag.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<br>
<hr/>
<a href="/admin/allTags">Вернуться к списку тэгов</a>
</body>
</html>