<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diswork</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/media/edit/{id}(id = ${media.getId()})}"  th:object="${media}" enctype="multipart/form-data">


    <label for="mediaName">Название произведения: </label>
    <input type="text" th:field="*{mediaName}" id="mediaName"/>
    <div style="color:red" th:if="${#fields.hasErrors('mediaName')}" th:errors="*{mediaName}">Name Error</div>
    <br/>

    <label for="types">Тип произведения: </label>
    <select id="types" th:object="${media}" th:field="*{type}">
        <option th:each="oneType: ${typeList}"  th:value="${oneType.getId()}" th:text="${oneType.typeName}"></option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Name Error</div>
    <br/>

    <label for="status">Статус произведения: </label>
    <select id="status" th:object="${media}" th:field="*{status}">
        <option th:each="oneStatus: ${statusList}"  th:value="${oneStatus.getId()}" th:text="${oneStatus.getStatusName()}"></option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</div>
    <br/>

    <label for="year_of_Release">Год : </label>
    <input type="text" th:field="*{yearOfRelease}" id="year_of_Release"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfRelease')}" th:errors="*{yearOfRelease}">Year Error</div>
    <br/>

    <label for="description">Краткое описание произведения: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
    <br/>

    <img  th:src="${media.getPosterPath()}" width="230px" height="320px" alt="Постер">

    <br>
    <label for ="image"> Постер фильма</label>
    <input type="file" name = "imageFile" id="image">
    <div style="color:red" th:if="${#fields.hasErrors('posterPath')}" th:errors="*{posterPath}">Description Error</div>
    <br/>

    <label for="age_rating">Возрастное ограничение: </label>
    <input type="text" th:field="*{ageRating}" id="age_rating"/>
    <div style="color:red" th:if="${#fields.hasErrors('ageRating')}" th:errors="*{ageRating}">Age_rating Error</div>
    <br/>

    <label for="duration">Длительность(если сериал, то указываем длительность серии); Указывать в минутах: </label>
    <input type="text" th:field="*{duration}" id="duration"/>
    <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Time Error</div>
    <br/>

    <label for="episode_count">Количество серий(если фильм, указывем одну): </label>
    <input type="text" th:field="*{episodeCount}" id="episode_count"/>
    <div style="color:red" th:if="${#fields.hasErrors('episodeCount')}" th:errors="*{episodeCount}">Episode_count Error</div>
    <br/>

    <label for="tags">Тэги: </label>
    <select id="tags" th:object="${media}" th:field="*{tags}" multiple>
        <option th:each="oneTag: ${tagList}"  th:value="${oneTag.getId()}" th:text="${oneTag.tagName}"></option>
    </select>
    <input type="submit"  value="Обновить"/>
    <br>
    <a href="/admin/allMedia">Вернуться к списку произведений</a>
</form>
</body>
</html>